* {
    color: black;
    margin: 0px;
}

/* Header section */

ul {
    list-style-type: none;
    display: flex;
    
}
li {
    color: white;
}
a {
    text-decoration: none;
}
.headerItem {
    padding: 10px;
    margin: auto;
}
.header {
    background: url('images/headerImage.webp');
}

/* Main body */

.mainImage {
    width: 100%;
    height: 550px;
}

h3 {
    margin: auto;
    padding: 10px;
}
p {
    margin: auto;
    padding: 10px;
    text-align: justify;
}
.responsiveArea {
    display: flex;
}

.sphoto {
    width: 100px;
    height: 100px;
}

@media(max-width:992px) {
    .responsiveArea {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* footer design */

footer {
    background-color: rgb(141, 138, 138);
    display: flex;
    
}

.foot-content {
    padding: auto;
    margin: auto;
}

.messege {
    position: fixed;
    float: right;
    width: 75px;
    height: 50px;
    background-color: turquoise;
}
.foot {
    color: white;
    text-align: center;
}

.social {
    display: flex;
    align-content: center;
}

.footImg {
    width: 50px;
    height: 50px;
}